body {
  font-family: "Montserrat";
}

h1 {}

h2 {
  font-size: 3rem;
  font-weight: 600;
  padding: 5%;
  padding-bottom: 3%;
}

p {
  color: white;
  padding: 1%;
  margin-bottom: 0;
}

a {
  color: white;
}

.navbar {
  color: white;
  padding: 4rem 8rem 0 8rem;
}

.nav-item {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.brand-name {
  font-family: 'Black Ops One', cursive;
  font-size: 2rem;
  font-weight: 400;
}

.image-div {
  text-align: center;
  background-image: url('../images/home-img.jpg');
  min-height:  100rem;
  min-width: 100%;
  /* padding: 0;
  position: relative; */
}


.dark-div {
  color: white;
  background-color: black;
  text-align: center;
}

.main-writing {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  position: absolute;
  bottom: 15rem;
  right: 15rem;
  left: 15rem;
  width: 60rem;
  margin: auto;
}

.fab {
  padding: 1% 1%;
  font-size: 3rem;
}

.youtube-icon {
  color: red;
}

#footerArea {
  background-color: black;
  text-align: center;
}

.buttonCat {
  margin: 3% 3%;
}
