html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: "Montserrat";
}

.modal-full-div {
  background-color: black;
}

.close-modal-span {
  color: white;
}

.modal-the-story {
  color: grey;
}

.my-logo {
  width: 10%;
  height: 10%;
  margin-bottom: 1.3rem;
}

.insta-logo {
  width: 4.375rem;
  height: 4.063rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  padding: 15% 5% 1%;
}

h3 {
  padding: 5% 5% 2%;
}

.footer-para {
  color: white;
  font-size: 0.8rem;
  padding: 1% 2% 0;
  margin-bottom: 0;
}

.modal-para {
  color: grey;
}

a {
  color: white;
  padding: 2% 1%;
}

.navbar-custom {
  background-color: black;
  color: white;
  padding: 2rem 8rem 0 8rem;
}

.nav-item {
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.brand-name {
  font-family: 'Black Ops One', cursive;
  font-size: 3rem;
  font-weight: 400;
}

.image-div {
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
}

.navbar-nav {
  text-align: right;
}


.primary-img {
  width: 190rem;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.7;
}

.dark-div {
  color: white;
  background-color: black;
  text-align: center;
  padding: 3% 3% 0;
}

.main-writing-box .main-writing {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10%;
  width: 50%;
}

.fab {
  padding: 1% 1%;
  font-size: 3rem;
}

.fab {
  color: red;
}

#footerArea {
  background-color: black;
  text-align: center;
}

.buttonCat {
  margin: 2% 1%;
}


/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



@media (max-width: 1020px) {
  .main-writing-box .main-writing {
    font-size: 2rem;
    width: 70%;
  }


  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
  }

}


@media (max-width: 500px) {
  .main-writing-box .main-writing {
    font-size: 1.2rem;
    bottom: 5%;
    width: 75%;
  }

  .navbar-custom {
    padding: 1rem 2rem 0 2rem;
  }

}
